
$list-border-color: #e3e3e3;
$item-border-color: #edeef0;
$text-color: #222222;

.list {
	color: $text-color;
	list-style: none;
	margin: 2rem auto 0;
	padding: 0;
	position: relative;
	border: 1px solid $list-border-color;
	border-radius: 5px;
	width: 32.875rem;
	max-width: 100%;
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.list__item {
	position: relative;
	height: 2.25rem;
	padding: .625rem;
	border-bottom: 1px solid $item-border-color;
	cursor: grab;
}
.list__item:last-of-type {
	border-bottom: none;
}
.list__item--grabbing {
	border-bottom: none;
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
.list__item--highlight {
	background-color: #fefefe;
}
.list__item--menu {
	cursor: pointer;

	&:hover .list__action-arrow {
		left: 10px;
	}
}

.list__text, .list__image, .list__action-wrap {
	display: inline-block;
}

.list__image {
	margin: 0;
	height: 100%;
	box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.list__text {
	word-break: break-all;
	overflow: hidden;
	position: absolute;
	margin: 0;
	margin-left: .625rem;
	height: 2.25rem;
	line-height: 2.25rem;
}

.list__action-button {
	background: url('../assets/action.png') right no-repeat, white;
	height: 100%;
	width: 42px;
	cursor: pointer;
	float: right;
	padding: 0;
}

.list__action-arrow {
	height: 100%;
	width: 25px;
	padding: 20px 0;
	box-sizing: border-box;
	transition: left .3s;
	left: 0;
	transform: translateX(3px);
	fill: #afafaf;
	position: relative;
}

.list__action-wrap {
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	background-color: white;

	&::before {
		content: '';
		background: linear-gradient(to left, white, rgba(255,255,255,0));
		width: 42px;
		height: 100%;
		position: absolute;
		left: -42px;
	}
}
